/* CONTAINER =================================================== */
.container {
    display: flex;
    justify-content: center;
}

/* CONTAINER LINK =================================================== */
.container-link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 14px;
    gap: 20px;
}
/* LINK ========================================================= */
.link {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: #1976d2;
  }
  :hover.link {
    color: #73a9df;
  }
  :focus {
    color: #73a9df;
  }
